* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #001427;
}

#menuToggle {
  display: none;
}

/* Barra laterale */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8800; 
}

html {
  scroll-behavior: smooth;
}

/* Logo */

.mynav .container h1 {
  color: white;
  font-size: 16px;
  padding: 20px;
  user-select: none;
  -webkit-user-select: none;
}

.mynav {
  position: absolute;
  width: 100%;
}

/* Navbar */

#navbar {
  height: 60px;
}

.mynav .container {
  display: flex;
  justify-content: space-between;
}

#navbar .container ul {
  display: flex;
  list-style: none;
  padding: 10px;
}

#navbar .container ul li a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  transition: .3s;
}

#navbar ul li a:hover {
  color: #ff8800;
}

/* Immagini Parallax */

.home {
  background-image: url("Background.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chi-sono {
  background-image: url("chisono2.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contattami {
  background-image: url("contattami3.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */

.container h2 {
  color: #ff8800;
  padding: 10px;
  font-size: 26px;
  border-bottom: 2px white solid;
  display: flex;
  justify-content: center;
}

.container h1 {
  color: white;
  font-size: 26px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.container p {
  color: white;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

/* Le mie competenze */

.titolo-competenze {
  padding-top: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid white;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.competenze {
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin-left: 20%;
  width: 60%;
  height: 100px;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

/* Portfolio */

.titolo-lavori {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid white;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 30px;
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
}

.lavori {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  user-select: none;
  -webkit-user-select: none;
}

.lavori img {
  padding: 30px;
  transition: .5s;
}

.sito1:hover {
  opacity: 0.2;
}

/* Chi sono */  

.info {
  margin-top: 5%;
  flex-wrap: wrap;
  color: white;
  width: 20%;
  margin-left: 40% !important;
}

.info h3 {
  border-bottom: 2px white solid;
  padding: 10px;
  text-transform: uppercase;
}

.info h5 {
  padding-top: 20px;
  text-transform: uppercase;
}

.info p {
  padding-top: 5px;
  font-size: 12px;
}

.info a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  transition: .5s;
}

.info a:hover {
  color: #ff8800;
}

.sim {
  width: 175px;
}

.botton {
  display: flex;
  justify-content: center;
}

 /* Contattami */

 .contattami {
   margin-top: 5%;
 }

 .form {
  position: relative;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.form .user-box {
  position: relative;
}

.form .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.form .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.form .user-box input:focus ~ label,
.form .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ff8800;
  font-size: 12px;
}

/*  Footer */

#footer {
  margin-top: -180px;
  padding: 10px;
  color: #001427;
  background-color: #ffffff;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  height: 40px;
}

#footer a {
  text-decoration: none;
}

#footer i {
  font-size: 15px;
  padding: 5px;
}

/* Bottoni animati */

.bottone {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ff8800;
  font-size: 16px;
  text-decoration: none;
  user-select: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.bottone:hover {
  background: #ff8800;
  color: #fff;
  border-radius: 5px;

}

.bottone span {
  position: absolute;
  display: block;
}

.bottone span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff8800);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.bottone span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff8800);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.bottone span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff8800);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.bottone span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff8800);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

  .vuoto {
  height: 300px;
}

/* Responsive */

@media screen and (min-width: 300px) and (max-width: 800px) {
   #home .container h2 {
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-left: 15%;
  }
  #home .container h1 {
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-left: 15%;
  }
  #home .container p {
    font-size: 10px;
    width: 70%;
    text-align: center;
    margin-left: 15%;   
  }
}

@media screen and (min-width: 376px) and (max-width: 700px) {
  .info {
    width: 40%;
    margin-left: 30%  !important;
  }
  .sim{
    display: none;
  }
  .competenze {
    width: 80%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 300px) and (max-width: 425px) {
  .info {
    width: 50%;
    margin-left: 25%  !important;
  }
  .sim{
    display: none;
  }
  .titolo-competenze {
    width: 70%;
    margin-left: 15%;
  }
  .competenze {
    width: 96%;
    margin-left: 2%;
  }
  .form {
    width: 280px;
  }
}

/* Menu responsive */

@media screen and (min-width: 300px) and (max-width: 425px) {
  .mynav {
    display: none;
}

#menuToggle {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #001427;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #ff8800;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;  
  opacity: 0; 
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  margin-left: 10px;
  top: 10px;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  position: fixed;
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #001427;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  margin-left: 10px;
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  margin-left: 10px;
  margin-top: 20px;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  width: 100%;
  height: 100%;
  position: fixed;
  justify-items: center;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
   background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menuToggle input:checked {
  position: fixed;
}
}